body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #36a1d4;
    font-family: 'Montserrat', sans-serif;
    color: seashell;
    font-size: 14px;
    text-align: center;
}
header{
    background-color: seashell;
    margin: 0px;
    padding: 5px;
    color: #36a1d4;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 20px;
}
.day{
    width: 100%;
    margin-bottom: 25px;
    float: left;
    text-align: center;
}
.lecture{
    box-sizing: border-box;
    position: relative;
    box-align :center;
    width: 25%;
    float: left;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: seashell;
}
.join_now_link{
    margin: ;
}
.details{
    text-align: center;
    padding: 2px;
}
.butt{
    position: absolute;
    padding-top: 40px;
    margin: 0px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%,-50%);
}
.lecture1{
    box-sizing: border-box;
    position: relative;
    align:center;
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: seashell;
}
.butt1{
    position: absolute;
    padding-top: 40px;
    margin: 0px;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%,-50%);
}
h2{
    text-shadow: 0px,0px,10px,1px, slategray;
    font-weight: 900;
}
.foot{
    font-size: 12px;
    text-align: center;
    padding-top: 200px;
    margin-top: 1000px;

}


@media(max-width:746px){
    .body{
        font-size: 12px;
    }
    .lecture{
        width: 50%;
        margin-bottom: 40px;
    }
}